* {
  font-family: 'Oswald', sans-serif;
}
body {
  background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_976323038_2000133320009280101_373073.jpg');
  background-size: cover;
}
.LoginPage {
  background-color: antiquewhite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 4em 7em 4em 7em;
}
.loginForm {
  display: flex;
  margin-bottom: 35%;
  flex-direction: column;
}
.loginForm button {
  margin-left: auto;
  margin-right: auto;
}

.loginInput {
  margin-bottom: 1rem;
}
.loginHeader {
}
